@media only screen and (min-width: 64rem) {

    .submitButton {
        width: 20%;
    }
    
    header {
        height: 70px;
    }
    #myAccountText {
        margin-top: 15px;
        font-size: 1.5rem;
    
    }

    nav ul {
        justify-content: flex-start;
    }

    nav li {
        margin-left: 10px;
    }

    nav a {
        font-size: 1.5rem;
    }

    main #carSpecCard {
        top: 250px;
        left: 14%;
    }

    main #carSpecCard h2 {
        font-size: 1.7rem;
    }

    main #carSpecCard p {
        font-size: 1.4rem;
    }

    .upgrRevDiv {
        width: 47%;
    }

    .upgrRevDiv h2 {
        font-size: 1.3rem;
    } 

    .boxShadow {
        width: 50%;
    }

    .boxShadow h2 {
        font-size: 1.3rem;
    }

    #reviewsWrapper ul {
        margin-left: 15px;

    }

    #reviewsWrapper li {
        font-size: 1.1rem;
    }

    #ownToday1 {
        display: block;

    }


    #ownToday2 {
        display: none;
    }

    .mainSections {
        width: 30%;
    }

    /* Vehicle Classification View */
    #ulVehicles li{
        max-width: 20%;
        height: 300px;
        transition: transform 0.2s ease-in-out;

    }
    #ulVehicles li:hover{
        transform: scale(1.05);
    }



    /*********Vehicle Info View*********/
    #vehicleInfoBox {
        display: grid;
        grid-template-columns: 1.4fr .6fr;
        grid-gap: 10px;
    }
    /* Uploads View */

    .uploadMain label,fieldset, .spaceBetween {
        width: 45%;
        
    }

    /* Review Section */
    
    .reviewFieldset {
        margin-left: 0;
    }

    /* .reviewForm, .formShowReview {
        width: 60%;
        margin: 0 auto;
    } */


}
