@media only screen and (min-width: 35em){
    body {
        background-image: url("../images/site/small_check.jpg");
    }

    .wrapper {
        width: 85%;
        margin: 20px auto 0 auto;
        border: 8px solid #4c96d7;
        border-radius: 10px;
        height: auto;
    }
    
    nav a {
        font-size: 1.2rem;
    }
    main h1 {
        font-size: 2rem;
    }
    main #carSpecCard {
        top: 190px;
        left: 15%;
    }
    main #carSpecCard h2 {
        font-size: 1.7rem;
    }
    main #carSpecCard p {
        font-size: 1.4rem;
    }
    main #bigCarPic {
        width: 80%;
    }
    .reviewsSection {
        margin-top: 40px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .upgrRevDiv {
        margin: 0 auto;
        width: 47%;
    }
    .upgrRevDiv h2{
        font-size: 1.2rem;
    }

    .boxShadow {
        margin: 0 auto;
        width: 50%;
    }
    .boxShadow h2{
        font-size: 1.2rem;
    }
    
    #reviewsWrapper ul {
        margin-left: 15px;
    
    }
    #reviewsWrapper li {
        font-size: 1rem;
    }

    .mainSections {
        width: 50%;
        margin: 30px auto 0 auto;
    }

}

