@media only screen and (min-width: 35em) {
    body {
        background-image: url("../images/site/small_check.jpg");
    }

    .wrapper {
        width: 85%;
        margin: 20px auto 0 auto;
        border: 8px solid #4c96d7;
        border-radius: 10px;
        height: auto;
    }

    header a{
        font-size: 1.5rem;
    }

    nav a {
        font-size: 1.2rem;
    }

    main h1 {
        font-size: 2rem;
    }

    main #carSpecCard {
        top: 190px;
        left: 15%;
    }

    main #carSpecCard h2 {
        font-size: 1.7rem;
    }

    main #carSpecCard p {
        font-size: 1.4rem;
    }

    main #bigCarPic {
        width: 80%;
    }

    .reviewsSection {
        margin-top: 40px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .upgrRevDiv {
        margin: 0 auto;
        width: 47%;
    }

    .upgrRevDiv h2 {
        font-size: 1.2rem;
    }

    .boxShadow {
        margin: 0 auto;
        width: 80%;
    }

    .boxShadow h2 {
        font-size: 1.2rem;
    }

    #reviewsWrapper ul {
        margin-left: 15px;

    }

    #reviewsWrapper li {
        font-size: 1rem;
    }

    .mainSections {
        width: 50%;
        margin: 30px auto 0 auto;
    }

    /* For vehicle display in classification view */
    #ulVehicles {
        flex-direction: row;
        gap: 5px;
        flex-wrap: wrap;
    }
    #ulVehicles li{
        max-width: 45%;
        height: 350px;
    
    }

    /*=========Vehicle Info Page=============*/
    #vehicleInfoBox {
        display: flex;
        flex-direction: column;
    }
    #vehicleImageBox{
        display: grid;
        grid-template-columns: .35fr 1.65fr;
        grid-gap: 5px;
        background-color: #FFEFD5;
        padding-left: 5px;
        margin-top: 10px;
    }

    #vehicleImageBox ul{
        display: flex;
        flex-direction: column;
    }
    .thumbnailsListBox li {
        width: 100%;
    }

    #thumbnailsOnBottomBox{
        display: none;
    }
    .thumbnailsListBox li img{
        transition: transform 0.2s ease-in-out;
        border-radius: 5px;
    }
    .thumbnailsListBox li img:hover{
        transform: scale(1.1);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        border: 2px solid rgba(0, 0, 0, .3);
        
    }

    /*============Vehicle Uploads Page======*/
    .uploadMain label,fieldset, .spaceBetween {
        width: 60%;
        margin-left: 0;
        
    }
    .uploadUl {
        width: 90%;
        margin: 0 auto;
        margin-top: 1rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        border: 1px solid #CCCCCC;
        border-radius: 10px;
    }
    .uploadUl a{
        display: block;
        text-align: center;
        font-size: 1.1rem;
        
    }

    /* Reviews section */

    /* .reviewDivs {
        font-size: 1.3rem;
    } */

}