@media only screen and (min-width: 35em){
    body {
        background-image: url("../images/site/small_check.jpg");
    }
    
    nav a {
        font-size: 1.2rem;
    }
    main h1 {
        font-size: 2rem;
    }
    main #carSpecCard {
        top: 170px;
        left: 10%;
    }
    main #carSpecCard h2 {
        font-size: 1.7rem;
    }
    main #carSpecCard p {
        font-size: 1.4rem;
    }
    main #bigCarPic {
        width: 80%;
    }
    #upgradesReviews {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .sectionWrappers {
        width: 47%;
    }
    .sectionWrappers h2{
        font-size: 1.2rem;
    }
    
    #reviewsWrapper ul {
        margin-left: 15px;
    
    }
    #reviewsWrapper li {
        font-size: 1rem;
    }

    .mainSections {
        width: 50%;
        margin: 30px auto 0 auto;
    }

}

